<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom ">

    <div class="container">
        <a class="navbar-brand " [routerLink]="['/home']"><span class="h3">Portal randkowy</span></a>

        <ul class="navbar-nav mr-auto h5" *ngIf="loggedIn()">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/użytkownicy']">Użytkownicy</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/polubienia']">Polubienia</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/wiadomości']">Wiadomości</a>
            </li>
        </ul>

        <div *ngIf="loggedIn()" class="dropdown mr-4">
            <span>
                <img src="{{photoUrl}}" class="img-fluid rounded-circle">
            </span>
            <button class="btn  dropdown-toggle text-dark" type="button" id="dropDownUser"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="h4">  {{ authService.decodedToken?.unique_name | titlecase }}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownUser">
                <a class="dropdown-item" [routerLink]="['/profil']"><i class="fa fa-user h4"></i> Edytuj profil</a>
                <a type="button" class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out h4"></i> Wyloguj</a>
            </div>
        </div>



        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" type="text" placeholder="Użytkownik" [(ngModel)]="model.Username"
                name="UserName" required #Username="ngModel" autocomplete="off">
            <input class="form-control mr-sm-2" type="password" placeholder="Hasło" [(ngModel)]="model.Password"
                name="Password" required #Password="ngModel" autocomplete="off">
            <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0"
                type="submit">Zaloguj</button>
        </form>
    </div>
</nav>