<div class="container mt-3">
    <div class="col-lg-12 text-center">
        <a href="https://allegro.pl/listing?string=smartwatch&bmatch=baseline-al-product-cl-eyesa2-engag-dict45-ele-1-3-0513">
          <img src="../../../assets/baner-reklamowy-allegro.png" class="banner shadow-lg"> 
        </a>
    </div>
</div>
<div class="container my-4">

    <div class="text center">
        <h2>Znajdz osobę : {{pagination.totalItems}}</h2>
    
        <form class="form-inline"  #form="ngForm" (ngSubmit)="loadUsers()" novalidate>

            <div class="form-group">
                <label for="minAge " style="margin: 15px;">Wiek od: </label>
                <input type="number" class="form-control" id="minAge" name="minAge" [(ngModel)]="userParams.minAge">
            </div>

            <div class="form-group">
                <label for="maxAge" style="margin: 15px;">Wiek do: </label>
                <input type="number" class="form-control" id="maxAge" name="maxAge" [(ngModel)]="userParams.maxAge">
            </div>

            <div class="form-group">
                <label for="gender" style="margin: 15px;">Płeć: </label>
                <select class="form-control" id="gender" name="gender" [(ngModel)]="userParams.gender">
                    <option *ngFor="let gender of genderList" [value]="gender.value">
                        {{gender.display}}
                    </option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary m-2">Szukaj</button>
            <button type="button" class="btn btn-info m-2" (click)="resetFilters()">Zresetuj</button>

        </form>
    </div>

    <div class="row">
      
            <div class="col-md-12">
                <div class="row ">
                    <div *ngFor="let user of users" class="mx-auto">
            
                        <app-user-card [user]='user'></app-user-card>
                    </div>
                </div>
            </div>
    
        <pagination [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems" 
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage" 
                    (pageChanged)="pageChanged($event)" 
                    previousText="&lsaquo;"
                    nextText="&rsaquo;" lastText="&raquo;"
                   >
        </pagination>
        
        <div class="ml-auto">
            <button type="button"
             btnRadio="lastActive" 
             [(ngModel)]="userParams.orderBy" 
             (click)="loadUsers()" 
             class="btn btn-primary" name="orderBy" >Ostatnio aktywni</button>

            <button type="button" 
             btnRadio="created"
             [(ngModel)]="userParams.orderBy"
             (click)="loadUsers()"
             class="btn btn-primary" name="orderBy">Najnowsi członkowie</button>
        </div>
       
    </div>

</div>
